{% extends 'base.html' %}
{% block body %}
<h2>Please login to proceed with checkout</h2>
<form class="form-signin" method="POST">
    <h2 class="form-signin-heading">Please Sign In</h2>
    <input name="email" type="email" class="form-control" placeholder="Email Address" required autofocus />
    <input name="password" type="password" class="form-control" placeholder="Password" required />
    <button type="btn btn-lg btn-primary btn-block" type="submit">Sign In</button>
</form>
{% endblock %}
